{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>

    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'configurator/css/base.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
    <header>
        <nav>
            <ul>
{#                <li><a href="{% url 'home' %}">Home</a></li>#}
                <li><a href="{% url 'my_builds' %}" class="nav_link">My Builds</a></li>
                <li><a href="{% url 'products' %}" class="nav_link">Products</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav_link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'logout' %}" class="nav_link">Login</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'edit_products' %}" class="nav_link">Добавить продукт</a></li>
                {% endif %}
                <li><a href="{% url 'favorites_view' %}" class="nav_link">Избранные</a></li>
                <li><a href="{% url 'cart_view' %}" class="nav_link">Корзина</a></li>
            </ul>
        </nav>
    </header>
    <main id="my-builds-page">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Configurator. All rights reserved.</p>
    </footer>
</body>
</html>