{% extends 'core/base.html' %}
{% load static %}

{% block title %}Products{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'core/css/products.css' %}"> {% endblock %}

{% block content %}
    <h2>Доступные товары:</h2>
    <div class="categories">
        {% for category, items in items.items %}
            <div class="category">
                <a href="{% url 'product_type' category %}"><h3>{{ category|title }}</h3></a>
                <ul>
                    {% for item in items %}
                        <li>
                            <img src="{{ item.name.image.url }}">
                            {{ item.product.id }}
                            <a href="{% url 'product_features' item.product.type item.id %}">{{ item.name }}</a>
                            <a href="{% url 'configurator' category item.id %}?clear=True">Начать конфигурацию</a>
                            <a href="{% url 'add_to_cart' item.product.id %}">c</a>
                            <a href="{% url 'add_to_favorites' item.product.id %}">f</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}