{% extends 'core/base.html' %}
{% load static %}

{% block title %}My builds{% endblock %}
{#{% block css %}<link rel="stylesheet" href="{% static 'configurator/css/my_build.css' %}"> {% endblock %}#}

{% block content %}
    <a href="{% url 'add_product' 'cpu' %}">add cpu</a>
    <a href="{% url 'add_product' 'gpu' %}">add gpu</a>
    <a href="{% url 'add_product' 'case' %}">add case</a>
{#    <a href="{% url 'add_product' 'cpucooler' %}">add cpucooler</a>#}
    <a href="{% url 'add_product' 'ram' %}">add ram</a>
    <a href="{% url 'add_product' 'psu' %}">add psu</a>

{% endblock %}