{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'configurator/css/configurator.css' %}">
</head>
<body>
    {% if selected_products %}
        {% for category, selected_product in selected_products.items %}
            <li class="selected-item">
                <div class="selected-info">
                    <strong>{{ category }}:</strong>
                    {% if selected_product %}
                        <span>{{ selected_product.name }} - {{ selected_product.price }} рублей</span>
                        {% if selected_product.image %}
                            <img src="{{ selected_product.image.url }}" alt="{{ selected_product.name }}" class="product-image">
                        {% endif %}
                        <a href="{% url 'configurator' category selected_product.id %}?delete=True" class="btn btn-delete">Remove</a>
                    {% else %}
                        <span>No product selected.</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    {% endif %}
</body>
</html>